# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Build files
dist/
build/

# Environmental variables
.env
.env.local
.env.development
.env.production

# Editor & OS files
.DS_Store
.idea/
.vscode/
*.swp

# Logs
logs/
*.log
